header
{
  border:100%;
  height:100vh;
  background-image:url("assests/bg8.png");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-filter:blur(3px);
  font-family:"verdana",sans-serif;
  
}
h1
{
  white-space:nowrap;
  width:0%;
  height:65%;
  
  color:white;
  font-family:"verdana",sans-serif;
  text-align:center;
  font-size:4.6em;
  overflow:hidden;
  animation:h1 15s steps(14,start) infinite forwards;
  position:relative;
}
@keyframes h1
{
  0%
     {
       width:0%;
     }
  70%
     {
        width:100%;
     }
 }
     

nav
{
 background-color:rgb(243,197,88);
 width:100%;
 height:55px;
 color:black;
 display:flex;
justify-content:space-around;
align-items:center;
text-decoration:none;
}
.menu
 a{
    font-size:1.5em;
    letter-spacing:1px;
    padding:10px 50px;
    color:black;
    font-weight:bold;
    text-decoration:none;
  }
.demo a
{
color:white;
font-size:1.5em;
background:indianred;
padding:6px 10px;
font-weight:bold;
text-decoration:none;
}
.container
{
display:flex;
justify-content:center;
border:50px;
background-color:rgb(112,188,178);            
}
.card
{
background:rgb(173,216,230);
width:400px;
height:400px;
margin:28px;
border-radius:20px;

} 
.card-image
{

height:170px;
/* margin-bottom; */
background-image:cover;
border-radius:10px;
} 

.javas
{
background-image:url("assests/images11.png");
 background-repeat:no-repeat;
background-color:white;
}

.html
{
background-image:url("assests/images12.png");
background-repeat:no-repeat;
background-color:white;

}
.css
{
 background-repeat:no-repeat;
 background-color:white;
 background-image:url("assests/images13.png");
 
}
h2
{
color:blue;
font-size:28px;
font-family:sans-serif;
}
p
{
color:purple;
font-size:15px;
font-family:cursive;

}
p:hover
{
color:red;
font-size:18px;
}
.card:hover
{
background-color:rgb(29,230,204);
cursor:pointer;
transform:scale(1.19);
transition:all is case;
}
.menu a:hover
{

cursor:pointer;
color:white;
font-size:1.3rem;


}
.container1
{
display:flex;
justify-content:center;
border:50px;
background-color:rgb(154,129,223);            
}
.card1
{
background:rgb(173,216,230);
width:400px;
height:400px;
margin:28px;
border-radius:20px;

} 
.card-image1
{

height:170px;
/* margin-bottom; */
background-image:cover;
border-radius:10px;
} 

.C1
{
background-image:url("assests/images16.png");
 background-repeat:no-repeat;
background-color:white;
}

.html1
{
background-image:url("assests/images17.png");
background-repeat:no-repeat;
background-color:white;

}
.css1
{
 background-repeat:no-repeat;
 background-color:white;
 background-image:url("assests/images18.png");
 
}

.card1:hover
{
background-color:rgb(4,250,234);
cursor:pointer;
transform:scale(1.19);
transition:all is case;
}
footer
{
 border:1px;
 width:97.8%;
 padding:1rem;
 background-color:rgb(166,104,158);
 height:45%;
}
.container3
{
display:flex;
justify-content:center;
align-items:center;

}
.item-list
{
border:3px ;
width:25%;
}
.item-title
{
font-size:2rem;
font-weight:700;
color:rgb(112,188,178);
}
.item-title:hover
{
cursor:pointer;
transform:scale(1.3);
}
.item-list ul
{
list-style:none;
min-height:300px;
}
.item a
{

font-size:1.2rem;
color:white;
} 
.item
{
margin-bottom:5px;
}
.info
{
color:white;
font-size:1.2rem;
} 
.thanku
{
width:100%;
background-color:rgb(112,212,221);

height:8%;
text-align:center;
font-size:2rem;
font-family:verdana;
justify-content:center;
} 
.thanku div
{
color:white;
justify-content:center;
animation:animate 13s linear infinite;

display:flex;
}
@keyframes animate
{
100%
{
   transform:translate(-100%,0);
}
} 